

.comment-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
.comment-form textarea{
    width: 80%;
    resize: none;
    padding: .5rem;
    background-color: var(--color-celeste-suave);
}


.comment-form .form-controls{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
}

.comment-form .form-controls select{
    background-color: var(--color-celeste-suave);
    padding: .5rem;
    border-radius: 1rem;
    min-width: 150px;
}
.comment-form .form-controls label{
    background-color: var(--color-celeste-suave);
    padding: .5rem;
    border-radius: 1rem;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.comment-form button{
    background-color: var(--color-celeste-suave);
    padding: 1rem;
    min-width: 200px;
}


.comment-form button:hover{
    background-color:var(--color-azul-oscuro);
    color: white;
}


.errorMessage {
    
    color: red;
}


.errorMessage a{
    text-decoration: underline var(--color-azul-claro-secundario);
    color: var(--color-azul-claro-secundario);
}