.regis-form{
    background-color: var(--color-blanco-background);
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem 3rem 1rem;
    align-items: center;
    width: 600px;
}

.regis-form h1 {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 0.3rem;
    transition: all 0.3s; /* Aplica la transición en el estado base */
}

.regis-form h1:hover {
    font-size: 1.1rem;
    color: var(--color-azul-claro);
}


.regis-form form{
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.regis-form form div{
    display: flex;
    gap: 1rem;
    
}


.regis-form p a{
    color: var(--color-azul-claro);
    margin-left: 1rem;
}




@media (min-width: 610px) {
    .regis-form form div{
        display: flex;
        justify-content: space-evenly;
    }
    .regis-form form div input{
        padding: 1rem;

        width: 100%;
    }
}

@media (max-width: 610px) {
    .regis-form{
        margin: 1rem;
    }
    .regis-form form{
        padding: 1rem;
        margin:0;
    }
    .regis-form form div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 0%;
        text-align: center;
    }
    .regis-form form div input{
        padding: .5rem;
        width: 100%;

    }
}